.block{
    box-sizing: border-box;
    // width: 100%;
}

.DynamicDraw{
    width:100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tpl-container{
    cursor: pointer;
    // width:100%;
}