.lineBox {
    display: flex;
    margin: 20px 12px;
    height: 28px;
    width: 100%;
    font-size: 14px;
    line-height: 28px;
}

.lineBox input {
    width: 60%;
    height: 100%;
    text-indent: 1em;
    align-items: center;
    border: 1px solid rgba(196, 198, 207, 1);
    outline-color: #419efe;
    border-radius: 2px;
    box-sizing: border-box;
}

.label {
    width: 70px;
    height: 100%;
    text-align: left;
    align-items: center;
}

.srcline {
    display: flex;
    align-items: center;
    justify-self: start;
}

.lineBox .srcline input {
    text-indent: 2px;
}

.select-box {
    border: 1px solid rgba(196, 198, 207, 1);
    border-radius: 2px;
    height: 100%;
    text-indent: 0%;
    outline: none;
}

.label {
    font-size: 12px;
    color: #444;
}

.smaller {
    margin-top: 7px;
    margin-bottom: 7px;
    padding-bottom: 5px;
}

.border {
    border-bottom: 1px solid #eee;
}

.module {
    width: 280px;
    height: 26px;
    margin-top: 3px;
    padding-bottom: 5px;
    background-color: rgb(219, 226, 242);
    text-align: left;
    font-weight: 700;
    text-indent: 1em;
    line-height: 36px
}

// 8.18 hp更改样式(以下)
.right-line {
    display: flex;
    margin-left: 12px;
    width: 100%;
    font-size: 14px;
    align-items: center;

    .label {
        width: 70px;
        height: 100%;
        padding-top: 3px;
        text-align: left;
    }

    .el-radio-group {
        display: flex;
        width: 60%;
        flex-wrap: wrap;
        justify-content: flex-start;
        border-radius: 0 !important;

        .el-radio-button__inner {
            text-align: center;
            width: 50px;
            margin-right: 1px;
            margin-top: 1px;
            padding: 7px 0;
            border-radius: 0;
            border: 1px solid #DCDFE6;
            box-shadow: none !important;
        }

        :nth-child(4) .el-radio-button__inner,
        :nth-child(5) .el-radio-button__inner {
            width: 76px;
        }
    }
}

//---8.18 hp更改样式(以上)
.inputLine {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;

    input {
        text-indent: 1em;
    }

    span {
        text-indent: 1em;
    }
}

.select-unit {
    border: 1px solid rgba(196, 198, 207, 1);
    border-radius: 2px;
    height: 100%;
    padding-left: 1em !important;
    outline: none;
    border-left: 0px;
}